*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans';
  font-weight: 800;
  margin: auto;
  max-width: 1200px;
}

.material-icons {
  display: inline-flex;
  font-size: 17px;
  margin-top: -3px;
  vertical-align: middle;
}

.wrapper {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 15% 85%;
}

nav {
  background-color: #354052;
  color: #909bad;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  text-transform: uppercase;
}

.nav-section {
  border-top: 2px solid #2E3548;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.nav-section li {
  height: 40px;
}

.nav-section .material-icons {
  margin: 0 10px 0 20px;
}

.nav-title {
  color: #6F7E95;
  margin-bottom: 0;
  padding-left: 20px;
  text-transform: none;
}

.nav-categories, .nav-user {
  text-transform: none;
}

.nav-user {
  align-items: center;
  border-top: 0;
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.nav-user .material-icons {
  margin: 0;
}

#name {
  font-size: 12px;
}

.headshot {
  border-radius: 100%;
  width: 70px;
}

.nav-selected, nav li:hover {
  background-color: #2e3548;
  color: white;
}

nav a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  vertical-align: top;
}

nav a:visited {
  color: inherit;
}

.user-arrow {
  margin: -2px 0 0 5px;
}

.yellow-box {
  color: yellow;
}

.blue-box {
  color: #2AAFFF;
}

.red-box {
  color: #E91A62;
}

.green-box {
  color: #00A989;
}

main {
  display: grid;
}

.search-bar {
  border-bottom: 1px solid #F5F5F5;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(14, 1fr);
  height: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-bar .material-icons {
  font-size: 25px;
}

.search-bar input {
  border-style: none;
  color: grey;
  font-size: 13px;
  height: 100%;
  height: 100%;
  padding-left: 50px;
  width: 100%;
}

input:focus {
  outline: none;
}

.search-bar li {
  border-left: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  text-align: center;
}

.search-bar a:hover {
  background-color: #15A4FA;
  border: 1px solid #15A4FA;
  color: white;
}

.search-bar li:first-child {
  border-left: 0;
}

.search-bar li:nth-child(2) {
  border-bottom: 1px solid #F5F5F5;
  grid-column-end: 12;
  grid-column-start: 2;
  position: relative;
}

.search-icon {
  left: 15px;
  position: absolute;
  top: 40%;
}

.search-bar li:nth-child(2):hover {
  border: 0;
}

.search-bar li:last-child {
  border-right: 0;
}

.search-bar a {
  color: grey;
  display: block;
  height: 100%;
  line-height: 70px;
  text-decoration: none;
  width: 100%;
}

.info {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: space-between;
  padding-left: 40px;
}

h1 {
  color: #404040;
  font-size: 25px;
  font-weight: 500;
}

.location-container {
  flex: 5;
}

.job-location {
  color: grey;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.job-location i {
  font-size: 20px;
  margin: 0 5px 0 0;
}

.job-location a {
  color: #15A4FA;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex: 2;
  grid-column-gap: 15px;
  height: 40px;
  line-height: 30px;
  width: auto;
}

.button-container .material-icons {
  font-size: 20px;
}

.button-container button,
.minimize {
  background-color: white;
  border-radius: 100%;
  border-style: none;
  border: 1px solid grey;
  color: grey;
  height: 40px;
  margin-right: 15px;
  width: 40px;
}

.button-container button:hover {
  background-color: #15A4FA;
  color: white;
}

#open-button {
  border-radius: 100px;
  font-weight: 800;
  grid-column-end: 4;
  grid-column-start: 2;
  text-transform: uppercase;
  width: 100px;
}

#open-button i {
  color: limegreen;
}

.job-post-nav {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: repeat(8, 1fr);
  height: 40px;
  justify-items: center;
  list-style: none;
  margin: 0;
  overflow-x: auto;
  overflow: hidden;
}

.tab a {
  color: #6E7E95;
  display: block;
  font-size: 14px;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.tab a:hover,
#tab-selected {
  border-bottom: 4px solid #15a4fa;
  color: black;
}

.job-post-content {
  background-color: #EDF2F6;
  height: 100%;
  padding: 0 40px 50px 40px;
}

#chart-area {
  align-items: center;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  height: 350px;
  margin: auto;
  position: relative;
  width: 100%;
}

#ctx1, #ctx2, #ctx3 {
  height: 100%;
  width: 100%;
}

.donut-container {
  display: grid;
  flex: 4;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -10px;
  position: relative;
}

.donut-chart {
  padding: 50px 0 100px 0;
  position: relative;
}

.donut-title {
  color: grey;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 32%;
  width: 100%;
}

.donut-title span {
  color: #404040;
  font-size: 30px;
  font-weight: 600;
}

#donut-label, #bar-label {
  background-color: white;
  border-radius: 100px;
  border: 1px solid lightgrey;
  bottom: 5%;
  font-size: 13px;
  font-weight: 600;
  left: 30%;
  margin: auto;
  padding: 10px 20px;
  position: absolute;
}

#bar-label {
  left: 35%;
}

.bar-container {
  flex: 3;
  position: relative;
}

.bar-chart {
  padding: 58px 0 68px 0;
}

.minimize-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.minimize {
  bottom: 0;
  left: 50%;
  margin: 0 15px;
  text-align: center;
}

.lines {
  border-bottom: 1px solid lightgrey;
  height: 1px;
  position: relative;
  text-align: center;
  text-align: center;
  width: 100%;
}

.minimize .material-icons {
  font-size: 25px;
}

.description-area {
  display: grid;
  grid-column-gap: 45px;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  margin-top: 20px;
}

#job-description {
  grid-column-end: 3;
  grid-column-start: 1;
  height: 100%;
  text-align: left;
}

#job-description .material-icons {
  margin-right: 5px;
}

th {
  background-color: #6E7E95;
  color: white;
  text-transform: uppercase;
}

th:first-child {
  padding-left: 30px;
}

th button {
  background-color: #7C8BA6;
  border-style: none;
  color: white;
  font-size: 13px;
  font-weight: 800;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  width: 80px;
}

td {
  background-color: white;
  color: #6E7E95;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  min-height: 65px;
}

td:first-child {
  font-weight: 800;
  padding-left: 30px;
  text-transform: uppercase;
  width: 33%;
}

tr:nth-child(7) td:first-child {
  padding-top: 25px;
  vertical-align: top;
}

tr:nth-child(7) td:nth-child(2) {
  padding-right: 30px;
}

#social {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  height: 700px;
}

.share-button {
  border-radius: 3px;
  border-style: none;
  color: white;
  flex: 1;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
  position: relative;
}

.share-button img {
  bottom: 25%;
  display: block;
  filter: invert(100%);
  height: 20px;
  left: 5%;
  position: absolute;
}

.share-button:nth-child(3) {
  margin-bottom: 0;
}

.facebook {
  background-color: #3B5998;
}

.twitter {
  background-color: #1DA1F2;
}

.linkedin {
  background-color: #0077B5;
}

.input-container {
  border-bottom: 1px solid grey;
  color: #6E7E95;
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.input-container .material-icons {
  padding-right: 10px;
}

.input-container p {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-size: 15px;
}

.input-container input,
.copy {
  border-style: none;
  border: 0;
  color: grey;
  font-size: 13px;
  height: 40px;
}

.input-container input {
  padding-left: 10px;
  width: 80%;
}

.input-container input::placeholder {
  color: lightgrey;
}

.copy {
  background-color: #45BBC3;
  color: white;
  margin-left: -5px;
  padding: 0;
  width: 20%;
}

form {
  height: 40px;
  margin-top: 15px;
}

.last {
  border-bottom: 0;
  padding-bottom: 0;
}

.last input {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #chart-area {
    flex-direction: column;
    height: auto;
  }

  nav {
    display: none;
  }

  .wrapper {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .search-bar {
    grid-template-columns: repeat(8, 1fr);
  }

  .search-bar li:nth-child(2) {
    grid-column-end: 6;
  }

  .description-area {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  #job-description {
    margin-bottom: 20px;
  }

  #job-description td,
  #job-description th {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 550px) {
  .info {
    display: block;
    height: auto;
    margin-bottom: 20px;
    padding-left: 25px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
  }

  .button-container button {
    margin-right: 15px;
  }

  .donut-container {
    display: block;
    padding-bottom: 130px;
  }

  .bar-container {
    width: 100%;
  }

  .donut-chart {
    padding-bottom: 0px;
  }

  .donut-title {
    top: 50%;
  }

  #donut-label {
    left: 15%;
  }

  #bar-label {
    left: 25%;
  }

  .job-post-content {
    padding: 0 10px 20px 10px;
  }
}
